.save-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.save-btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.save-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
